<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @bacterial_stock.number %>
</p>

<p>
  <strong>Insert:</strong>
  <%= @bacterial_stock.insert %>
</p>

<p>
  <strong>Plasmid:</strong>
  <%= @bacterial_stock.plasmid %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @bacterial_stock.tag %>
</p>

<p>
  <strong>Species:</strong>
  <%= @bacterial_stock.species %>
</p>

<p>
  <strong>Strain:</strong>
  <%= @bacterial_stock.strain %>
</p>

<p>
  <strong>Antibiotic resistance:</strong>
  <%= @bacterial_stock.antibiotic_resistance %>
</p>

<p>
  <strong>Methods of cloning:</strong>
  <%= @bacterial_stock.methods_of_cloning %>
</p>

<p>
  <strong>Source:</strong>
  <%= @bacterial_stock.source %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @bacterial_stock.comments %>
</p>


<%= link_to 'Edit', edit_bacterial_stock_path(@bacterial_stock) %> |
<%= link_to 'Back', bacterial_stocks_path %>
