<h1> Choose action </h1>
<%=link_to "Sequences database",sequences_path %><br>
<%=link_to "Primers database",primers_path %><br>
<%=link_to "Regular chemicals database", regular_chemicals_path %><br>
<%=link_to "Molecular biology chemicals database", mol_biol_chemicals_path %><br>
<%=link_to "Responsibilities", responsibilities_path %><br>
<%=link_to "Manuals", manuals_path %><br>

<% if current_user.username == "Admin" %>
	<%=link_to "Create User", new_user_path %>
<%end%>


<% if @responsibilities_pending.first %>
	<h1>Pending responsibilities</h1>
	<table>
	  <thead>
	    <tr>
	      <th>First name</th>
	      <th>Last name</th>
	      <th>Action</th>
	      <th>Data of action</th>
	      <th>Comments</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @responsibilities_pending.each do |responsibility| %>
	      <tr>
	        <td><%= responsibility.first_name %></td>
	        <td><%= responsibility.last_name %></td>
	        <td><%= responsibility.action %></td>
	        <td><%= responsibility.date_of_action %></td>
	        <td><%= responsibility.comments %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<%end%>
