<style type="text/css">
    input, select, textarea {
      padding: 8px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      background: #fff;
      font-size: 120%;
    }
</style>

<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="container">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container form_container">
      <div class="row">
        <span class = "form_label">First name</span><span class = "form_field"><%= f.text_field :first_name %></span>
      </div><br>
      <div class="row">
        <span class = "form_label">Last name</span><span class = "form_field"><%= f.text_field :last_name %></span>
      </div><br>
      <div class="row">
        <span class = "form_label">Username</span><span class = "form_field"><%= f.text_field :username%></span>
      </div><br>
      <div class="row">
        <span class = "form_label">Password</span><span class = "form_field"><%= f.password_field :password%></span>
      </div><br>

    <div class="actions submit_button form_submit">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
