<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 class="text-center">Responsibilities</h1>
  <table id="responsibilities" class="display">
    <thead>
      <tr>
        <th>Date</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Action</th>
        <th>Comments</th>
        <% if current_user.username == 'admin' %>
          <th>Modify</th>
        <%end%>
      </tr>
    </thead>
         <% @responsibilities.each do |responsibility| %>
        <tr style = "color: <%= responsibility.color %>;">
          <td><%= responsibility.date_of_action %></td>
          <td><%= responsibility.first_name %></td>
          <td><%= responsibility.last_name %></td>
          <td><%= responsibility.action %></td>
          <td><%= responsibility.comments %></td>
          <% if current_user.username == "admin" %>
            <td><%= link_to edit_responsibility_path(responsibility) do %>
              <i class = "glyphicon glyphicon-edit ikona"></i><%end%>
            <%= link_to responsibility, method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <i class = "glyphicon glyphicon-floppy-remove ikona"></i><%end%></td>
          <%end%>
        </tr>
      <% end %>
    <tbody>
    </tbody>
  </table><br>

  <div class="button"> <%= button_to 'New responsibility', new_responsibility_path, :method =>:get, form: {:target => "_blank"}  %>
   </div>
</div>