<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 class="text-center">Manuals</h1>
  <table id="manuals" class="display">

    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Comments</th>
        <% if current_user.username == 'admin' %>
          <th>Modify</th>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <% @manuals.each do |manual| %>
        <tr>
          <td><%= link_to manual.name, manual.file.url  %></td>
          <td><%= manual.author %></td>
          <td><%= manual.comments %></td>
          <% if current_user.username == "admin" %>
            <td><%= link_to edit_manual_path(manual) do %>
                  <i class = "glyphicon glyphicon-edit ikona"></i><%end%>
                <%= link_to manual, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class = "glyphicon glyphicon-floppy-remove ikona"></i><%end%></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table><br>

  <div class="button"> <%= button_to 'New manual', new_manual_path, :method => :get %>
  </div>
</div>