<p id="notice"><%= notice %></p>

<h1>Manuals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manuals.each do |manual| %>
      <tr>
        <td><%= manual.title %></td>
        <td><%= manual.author %></td>
        <td><%= manual.comments %></td>
        <td><%= link_to "Download file", :controller => 'manuals',
        :action => 'download_file', :id =>manual.id %></td>
        <% if current_user.username == "admin" %>
          <td><%= link_to 'Edit', edit_manual_path(manual) %></td>
          <td><%= link_to 'Destroy', manual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manual', new_manual_path %>
<%= link_to 'Back', root_path %>
