<p id="notice"><%= notice %></p>

<h1>Mol Biol Chemicals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Producer</th>
      <th>Catalogue number</th>
      <th>Quantity</th>
      <th>Delivery date</th>
      <th>Place</th>
      <th>Comments</th
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mol_biol_chemicals.each do |mol_biol_chemical| %>
      <tr>
        <td><%= mol_biol_chemical.name %></td>
        <td><%= mol_biol_chemical.producer %></td>
        <td><%= mol_biol_chemical.catalogue_number %></td>
        <td><%= mol_biol_chemical.quantity %></td>
        <td><%= mol_biol_chemical.delivery_date %></td>
        <td><%= mol_biol_chemical.place %></td>
        <td><%= mol_biol_chemical.comments %></td>
        <% if current_user.username == 'admin' %>
          <td><%= link_to 'Edit', edit_mol_biol_chemical_path(mol_biol_chemical) %></td>
          <td><%= link_to 'Destroy', mol_biol_chemical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mol Biol Chemical', new_mol_biol_chemical_path %>
<%= link_to 'Back', root_path %>
