<p id="notice"><%= notice %></p>

<h1>Regular Chemicals</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Full name</th>
      <th>Formula</th>
      <th>Producer</th>
      <th>Catalogue number</th>
      <th>Delivery date</th>
      <th>Place</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regular_chemicals.each do |regular_chemical| %>
      <tr>
        <td><%= regular_chemical.short_name %></td>
        <td><%= regular_chemical.full_name %></td>
        <td><%= regular_chemical.formula %></td>
        <td><%= regular_chemical.producer %></td>
        <td><%= regular_chemical.catalogue_number %></td>
        <td><%= regular_chemical.delivery_date %></td>
        <td><%= regular_chemical.place %></td>
        <td><%= regular_chemical.comments %></td>
        <% if current_user.username == 'admin' %>
          <td><%= link_to 'Edit', edit_regular_chemical_path(regular_chemical) %></td>
          <td><%= link_to 'Destroy', regular_chemical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regular Chemical', new_regular_chemical_path %>
<%= link_to 'Back', root_path %>
