<p id="notice"><%= notice %></p>

<h1 class = "text-center">Regular Chemicals</h1>

<table id="regular_chemicals" class="display">
  <thead>
    <tr>
      <th>Short name</th>
      <th>Full name</th>
      <th>Formula</th>
      <th>Producer</th>
      <th>Catalogue number</th>
      <th>Delivery date</th>
      <th>Place</th>
      <th>Comments</th>
      <% if current_user.username == 'admin' %>
          <th>Edit</th>
          <th>Delete</th>
      <%end%>
     </tr>
  </thead>

  <tbody>
    <% @regular_chemicals.each do |regular_chemical| %>
      <tr>
        <td><%= regular_chemical.short_name %></td>
        <td><%= regular_chemical.full_name %></td>
        <td><%= regular_chemical.formula %></td>
        <td><%= regular_chemical.producer %></td>
        <td><%= regular_chemical.catalogue_number %></td>
        <td><%= regular_chemical.delivery_date %></td>
        <td><%= regular_chemical.place %></td>
        <td><%= regular_chemical.comments %></td>
        <% if current_user.username == 'admin' %>
          <td><%= link_to edit_regular_chemical_path(regular_chemical), class: "btn btn-link" do %>
            <i class = "glyphicon glyphicon-edit"></i><%end%></td> 
          <td><%= link_to regular_chemical, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
             <i class = "glyphicon glyphicon-floppy-remove"></i><%end%></td> 
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table><br>

<div class="button"><%= button_to 'New regular chemical', new_regular_chemical_path, :method => :get %>
</div>
