  <style type="text/css">
    input, select, textarea {
      padding: 8px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      background: #fff;
      font-size: 120%;
    }
  </style>
<%= form_for(@sequence, :html =>{:multipart => true}) do |f| %>
  <% if @sequence.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@sequence.errors.count, "error") %> 
        prohibited this sequence from being saved:</h2>

      <ul>
      <% @sequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container form_container">
    <div class="row">
      <span class = "form_label">Name</span><span class = "form_field"><%= f.text_field :name %></span>
    </div><br>
    <div class="row">
      <span class = "form_label">Organism</span><span class = "form_field"><%= f.text_field :organism%></span>
    </div><br>
    <div class="row">
      <%= f.fields_for :sequence_attachments do |s| %>
      <span class = "form_label">Sequence attachment</span><span class = "attachment_field"><%= s.file_field  :file, :multiple => false, name: "sequence_attachments[file][]" %></span>
      <%end%>
    </div><br>
    <div class="actions submit_button form_submit">
      <%= f.submit "Create " %>
    </div>
  <% end %>
</div>

