<%= form_for(@sequence, :html =>{:multipart => true}) do |f| %>
  <% if @sequence.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@sequence.errors.count, "error") %> 
        prohibited this sequence from being saved:</h2>

      <ul>
      <% @sequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :organism %><br>
    <%= f.text_field :organism %>
  </div>

  <%= f.fields_for :sequence_attachments do |s| %>
  <div class="field">
    <%= s.label :file %><br>
    <%= s.file_field :file, :multiple => false, name: "sequence_attachments[file][]" %>
  </div>
  <%end%>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
