<p id="notice"><%= notice %></p>

<h1 class = "text-center">Listing Sequences</h1>

<table id ="sequences" class = "display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organism</th>
      <% if current_user.username == 'admin' %>
          <th>Edit</th>
          <th>Delete</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= link_to sequence.name, sequence %></td>
        <td><%= sequence.organism %></td>
        <% if current_user.username == 'admin' %>
          <td><%= link_to edit_sequence_path(sequence), class: "btn btn-link" do %>
            <i class = "glyphicon glyphicon-edit"></i><%end%></td> 
          <td><%= link_to sequence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" do %>
             <i class = "glyphicon glyphicon-floppy-remove"></i><%end%></td> 
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= button_to 'Create sequence', new_sequence_path, :method => :get %>
